<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706428755021-ae2qi4j84dl162dhp1jq37d8evrep174.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706428755021-ae2qi4j84dl162dhp1jq37d8evrep174</string>
	<key>API_KEY</key>
	<string>AIzaSyBz6s8cuwQyrGB-gSanq4eIAmJIbiotNqY</string>
	<key>GCM_SENDER_ID</key>
	<string>706428755021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v.CookingMaster</string>
	<key>PROJECT_ID</key>
	<string>cookingmaster-f9cfc</string>
	<key>STORAGE_BUCKET</key>
	<string>cookingmaster-f9cfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706428755021:ios:3ca3b29b0eecd8f5445004</string>
</dict>
</plist>